<!-- Seção Sobre -->
<div class="footer-section">
    <h5>Nossas Redes Sociais</h5>
    <div class="social-icons">
        <a href="https://github.com//ifpb" class="github"><img src="../static/images/github.png" alt="GitHub"></a>
        <a href="https://www.instagram.com/ifpb.joaopessoa/" class="instagram"><img src="../static/images/instagram.png" alt="Instagram"></a>
        <a href="https://www.linkedin.com/school/ifpb/" class="linkedin"><img src="../static/images/linkedin.png" alt="LinkedIn"></a>
    </div>
</div>

<div class="footer-bottom">
    <p>&copy; 2026 SCE - Todos os direitos reservados.</p>
</div>