<div class="logo"><img src="/logo.png" alt="Logo SCE"></div>
    
<div class="sce-title" id="sce-title-mobile">SCE</div>
<div class="sce-title" id="sce-title-pc">Sistema de Controle de Egressos</div>

<!-- botão hamburguer -->
<button class="menu-hamburger" id="btn-hamburguer">
    <span class="linha"></span>
    <span class="linha"></span>
    <span class="linha"></span>
</button>

<!-- botões do menu -->
<ul class="nav-menu" id="nav-menu">
    <li><a href="/">
            <span class="material-symbols-outlined">home</span> 
            Home
        </a>
    </li>
    <li><a href="/pages/perfil/">
            <span class="material-symbols-outlined">account_circle</span> 
            Seu Perfil
        </a>
    </li>
    <li><a href="#" id="link-logout">
            <span class="material-symbols-outlined">logout</span> 
            Logout
        </a>
    </li>
</ul>