<div class="logo"><img src="/images/logo.png" alt="Logo SCE"></div>
    
<div class="sce-title" id="sce-title-mobile">SCE</div>
<div class="sce-title" id="sce-title-pc">Sistema de Controle de Egressos</div>

<!-- botão hamburguer -->
<button class="menu-hamburger" id="btn-hamburguer">
    <span class="linha"></span>
    <span class="linha"></span>
    <span class="linha"></span>
</button>

<!-- botões do menu -->
<ul class="nav-menu" id="nav-menu">
    <li><a href="/index.html">Home</a></li>
    <li><a href="/pages/perfil.html">Seu perfil</a></li>
    <li><a href="#" id="link-logout">Logout</a></li>
</ul>