<div class="logo"><img src="/logo.png" alt="Logo SCE"></div>
    
<div class="sce-title" id="sce-title-mobile">SCE</div>
<div class="sce-title" id="sce-title-pc">Sistema de Controle de Egressos</div>

<!-- botão de pesquisa -->
<button class="menu-search" id="btn-search">
    <span class="material-symbols-outlined">search</span>
</button>

<!-- botão hamburguer -->
<button class="menu-hamburger" id="btn-hamburguer">
    <span class="linha"></span>
    <span class="linha"></span>
    <span class="linha"></span>
</button>

<!-- botões do menu -->
<ul class="nav-menu" id="nav-menu">
    <li>
        <div>
            <a href="/"><span class="material-symbols-outlined">home</span> 
            <p>Home</p></a>
        </div>
    </li>
    <li>
        <div>
            <a href="/pages/perfil/"><span class="material-symbols-outlined">account_circle</span> 
            <p>Seu Perfil</p></a>
        </div>
    </li>
    <li>
        <div>
            <a href="#" id="link-logout"><span class="material-symbols-outlined">logout</span> 
            <p>Logout</p></a>
        </div>
    </li>
</ul>